name: CI
on: pull_request

jobs:
  benchmark:
    name: Benchmark AWS OTel Components
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15

      - name: Setup Environment
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - name: Run Benchmark
        run: cd benchmark && go test -v -benchmem -run=^$$ -bench=. ./...
